<?xml version="1.0"?>
<config>
    <global>
        <models>
            <twitterslider>
                <class>Sm_Twitterslider_Model</class>
            </twitterslider>
        </models>
        <blocks>
            <twitterslider>
                <class>Sm_Twitterslider_Block</class>
            </twitterslider>
        </blocks>
        <helpers>
            <twitterslider>
                <class>Sm_Twitterslider_Helper</class>
            </twitterslider>
        </helpers>
        <resources>
            <twitterslider_setup>
                <setup>
                    <module>Sm_Twitterslider</module>
                </setup>
            </twitterslider_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <twitterslider>
                <use>standard</use>
                <args>
                    <module>Sm_Twitterslider</module>
                    <frontName>twitterslider</frontName>
                </args>
            </twitterslider>
        </routers>
        <layout>
            <updates>
                <twitterslider module="Sm_Twitterslider">
                    <file>sm/twitterslider.xml</file>
                </twitterslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sm_Twitterslider>
                    <files>
                        <default>Sm_Twitterslider.csv</default>
                    </files>
                </Sm_Twitterslider>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Sm_Twitterslider>
                    <files>
                        <default>Sm_Twitterslider.csv</default>
                    </files>
                </Sm_Twitterslider>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <twitterslider_cfg translate="title" module="twitterslider">
                                            <title>SM Twitter Settings</title>
                                        </twitterslider_cfg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <slider module="Sm_Twitterslider">
                    <file>sm/Twitterslider.xml</file>
                </slider>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <twitterslider_cfg>
            <general>
                <isenabled>1</isenabled>
                <display_title>1</display_title>
                <title>SM Twitter</title>
                <screenname></screenname>
                <consumekey></consumekey>
                <consumersecret></consumersecret>
                <access_token></access_token>
                <access_token_secret></access_token_secret>
                <count>6</count>
                <display_avatars>1</display_avatars>
                <display_follow_button>1</display_follow_button>
                <display_direction_button>1</display_direction_button>
                <start>1</start>
                <play>1</play>
                <interval>5000</interval>
                <pause_hover>1</pause_hover>
                <effect>'slide'</effect>
                <swipe_enable>1</swipe_enable>
            </general>
            <advanced>
                <include_jquery>1</include_jquery>
                <pretext></pretext>
                <posttext></posttext>
	            <use_cache>1</use_cache>
	            <cache_time>3600</cache_time>
            </advanced>
        </twitterslider_cfg>
    </default>
</config>